__pycache__/
tsntest/
build/
dist/
**/*.ipynb_checkpoints/
*.py[cod]
*.csv
*.pyc
*.err
*.log
*.out
*.DS_Store
*.egg
*.egg-info

*.DS_Store

src/tsnkit/simulation/cython/*.c
src/tsnkit/simulation/cython/*.so

